html,  body{
    width: 100%;
    margin-left: 0px;
    padding: 0px;
}
input, textarea{
	width:375px;
	display:block;
	border: 1px solid #999;
	height: 25px;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    resize: none;
}
a{
    text-decoration: none;
}

#topo{
    background: #EEEEEE;
    text-align: center;
    border: 0px;
    margin-top: -23px;
    display:table;
    width:100%;
    height: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 4%;
    border-bottom-style: groove;
    border-bottom-width: 7px;
    border-bottom-color: #AAAAAA;
}

#conteudo{
    margin-left: 35%;
}

#logo{
    margin: 1%;
    float:left;
}

#nav{
    float: right;
    margin: 120px 30px 0px 30px;
}

#nav a{
    margin: 0px 15px 0px 15px;
    padding: 15px;
    background-size: 0px;
    border-style: solid;
    border-color: #CCCCCC;
    border-width: 3px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    color: #303030;
    transition: background-size 2s;
    -moz-transition: background-size 2s;
    -webkit-transition: background-size 2s;
}

#nav a:hover{
    background:url("recursos/fundo_botao.png");
    background-size: 250px;
    background-repeat: repeat-x;
    border-style: solid;
    border-width: 3px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
}

#formata_codigo{
    position:relative;
    right: 250px;
    width: 100%;
}